<html>
  <head>

  </head>
<body>
<div class="jumbotron">
  <h1 class="class1"> This is my heading 1</h1>
  <h2> This is my first page !!</h2>
</div>
<br/>
<div class="container">Hello </div>
<br/>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
</body>
</html>