
h1{color:azure;
margin: 10px;
font-size: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;}
.class1{background-color: green;}

h2{color:rgb(76, 138, 76);
    margin: 10px;
    font-size: 15px;
font-family: 'Courier New', Courier, monospace;}